{
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-use-before-define": [2, "nofunc"],
    "linebreak-style": "off",
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-underscore-dangle": [0],
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "operator-linebreak": "off",
    "newline-per-chained-call": "off",
    "no-await-in-loop": "off",
    "object-curly-newline": "off"
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "airbnb-base"]
}
